{% extends 'base.html.twig' %}

{% block title %}
{# Gestion des produits #}
{% if editMode %}
Modifier produit
{% else %}
    Ajouter articleproduit
{% endif %}

 {% endblock %}

{% block body %}
<h1 class="text-center my-4">
     
    {% if editMode %}
    Modification l'article
    {% else %}
        Ajouter d'un article
    {% endif %}
   </h1>
<div class="container">
   {{ form_start(formProduit , {
    attr:{
        novalidate: 'novalidate',
    }
   }) }}
    {{ form_start(formProduit) }}
    {{ form_row(formProduit.titre) }}
   {{ form_row(formProduit.description) }}
   {{ form_row(formProduit.couleur) }}
   {{ form_row(formProduit.taille) }}
   {{ form_row(formProduit.photo) }}
   {{ form_row(formProduit.collection) }}
   {{ form_row(formProduit.prix) }}
   {{ form_row(formProduit.stock) }} 
   {{ form_row(formProduit.date_enregistrement) }} 
   
     
    {# ! form() est une fonction twig permettant d'afficher un formulaire entièrement #}
<button type='submit' class="btn btn-primary mt-2">Enregistrer </button>


   {{ form_end(formProduit) }}

{% endblock %}
