{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
  <section class="row produit">
  {% for produit in produits %}
  {#! produit est une variable de reception : elle receptionne un article par tour de boucle #}

  {#! produit est un tableau envoyé depuis la méthode index a notre template #}
    <article class="col-md-4 mx-auto" text-center border border-dark my-3 p-3 mr-1> 
    <h2>{{ produit.titre}}</h2>
    <div class="metadata"> En vente depuis le {{ article.createdAt|date('d/m/Y ')}}
    {#! date est un filtre twig : il permet de convertir un objet Datetime en une chaine de caractère #}

    <div class="content">
      <img src="{{ produit.photo}}" alt=""> {{ produit.content|raw}}
      {#! le raw est un filte : il permet d'interpréter les balises html #}
    <p>{{ produit.titre}}</p>
    <p>{{ produit.description}}</p>
    <p>{{ produit.couleur}}</p>
    <p>{{ produit.taille}}</p>
    <p>{{ produit.collection}}</p>
    <p>{{ produit.prix}}</p>
  <a href="{{ path('produit_show' , {id: produit.id })}}" class="btn btn-primary">produit suivant</a>
  {#! path() permet de generer un lien vers une page #}
  {#! cette fonction prend en 1 er argument le nom de la route (name: 'nomDelaRoute' qui est declarer dans le controller) #}
    </div>
    </div>
    </article>
    
  {% endfor %}
  </section>
{% endblock %}
